.footer {
  position: relative;
  padding: 6rem 2rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__content {
  max-width: 1000px;
}

.footer__content__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.footer__content__menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Responsive: مثال بسيط للموبايل */
@media (max-width: 768px) {
  .footer__content__menus {
    grid-template-columns: repeat(2, 1fr);
  }
}

.footer__content__menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
}

.footer__content__menu > * + * {
  margin-top: 1rem;
}
